body {
  justify-content: center;
  background-image: url("https://ultrapro.com/cdn/shop/products/19629_MAT_MTG_BRO_STITCH.png?v=1652739085&width=675"); /* Replace with the path to your image */
  background-size: cover; /* Ensure the image covers the entire background */
  /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
}

.card-zone {
  display: flex;
}

#search-card {
  background-color: #13aa52;
  justify-content: flex-end;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#search-card :hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  #search-card {
    padding: 10px 30px;
  }
}

#creature-enchantment {
  display: flex;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: aliceblue;
  background-color: rgba(240, 248, 255, 0.4);
}

#creature-zone {
  flex: 3; /* 60% of the width */
  border-color: black;
  border-style: solid;
}

#enchantment-zone {
  flex: 2; /* 40% of the width */
  border-color: black;
  border-style: solid;
  height: 450px;
}

.zone-heading {
  text-align: center;
}

.card-images {
  opacity: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#lands-artifacts {
  display: flex;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: aliceblue;
  background-color: rgba(240, 248, 255, 0.4);
  height: 450px;
}

#lands-zone {
  flex: 3; /* 60% of the width */
  border-color: black;
  border-style: solid;
}

#artifacts-zone {
  flex: 2; /* 40% of the width */
  border-color: black;
  border-style: solid;
  height: 450px;
}

.card-img {
  padding: 10px;
  transition: transform 0.3s ease;
  transform-origin: center;
  width: 150px;
  height:auto;
}

.card-img:hover {
  transform: scale(2);
}

.searched-card-container {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #f3f7f4;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #afc2d5;
  color: #fff;
  transition: right 0.3s ease-in-out;
  font-family: "Open Sans", sans-serif;
}

.sidebar.open {
  right: 0;
}

.hamburger {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
  color: #fff;
  background-color: #070a0d;
  font-size: 16px;
  padding: 10px;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  margin-top: 70px;
}

.menu li {
  padding: 10px;
}

.menu li a {
  text-decoration: none;
  color: #000;
}
